// Sass Variables
$breakpoint: 480px;
$jumbo-breakpoint: 520px;
$site-max-width: 900px;

// CrossFit Charlton Brand Colors
$blue-dk: #002E6D;
$blue-lt: #87a9e2;
$red: #ea0029;
$white: #fff;

// CrossFit Charlton Brand Colors
$blue-dk: #002E6D;
$blue-lt: #87a9e2;
$red: #ea0029;
$white: #fff;

// Utility Colors
$bg-neutral: #ccc;
$text-color-neutral: #333;
$text-color-reverse: #eee;

// Fonts
$emphasis-font: 'Miriam Libre', sans-serif;
$emphasis-style: normal;
$reading-font: 'Lato', sans-serif;

// Layout
$max-width: 1280px;

// decorative
$box-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
-0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);