<!-- 
    Community 
-->
<section class="community">
    <div class="container multi-col multi-col--reverse">
        <div class="col">
        <h2>Community Is Important for Success</h2>
        <p>CrossFit Charlton's mission is to help you, "Make a positive impact on your 
            health through fitness." A supporting community of peers is crucial for long-term 
            health and fitness. Our expert staff care about your fitness growth and 
            are there to help you succeed.</p>
        </div>
            <div class="col">
            <img src="assets/images/photos/team-red-shirts.jpg" style="object-position: center 35%;" alt="Gym Photo">
        </div>
    </div>
</section>
<!-- /Community -->