<!-- 
    Community 
-->
<section class="community">
    <div class="container multi-col"> <!-- multi-col--reverse"> -->
        <div class="col">
        <h2>Community Is Important for Success</h2>
        <p>At CrossFit Charlton, our mission is to help you, &ldquo;Make a positive impact on your health through fitness.&rdquo; A supporting community of peers is crucial for long-term health and fitness. Our expert staff care about your fitness growth and are there to help you succeed.</p>
        </div>       
    </div>
</section>
<!-- /Community -->