<!-- 
    Features 
-->
<div class="wrapper wrapper--features">
    <section class="features">
        <h2>Expert Guidance and State of the Art Facilities</h2>
        <div class="container multi-col">
            <div class="col card card--rounded card--dark">
                <img src="assets/images/icons/calendar-line-icon.svg" alt="Calendar icon" width="75" height="75">
                <p>Weekend Classes</p>
            </div>
            <div class="col card card--rounded card--dark">
                <img src="assets/images/icons/enrollment-icon.svg" alt="Avatar Icon" width="75" height="75">
                <p>Individualized Programming</p>
            </div>
            </div>
            <div class="container multi-col">
            <div class="col card card--rounded card--dark">
                <img src="assets/images/icons/treadmill-running-machine-icon.svg" alt="Gym equipment icon" width="75" height="75">
                <p>Top of the Line Equipment</p>
            </div>
            <div class="col card card--rounded card--dark card--two-icons">
                <img src="assets/images/icons/dumbbell-icon.svg" alt="Free weights icon" width="75" height="75">
                <img src="assets/images/icons/dumbbell-icon.svg" alt="Free weights icon" width="50" height="50">
                <p>CrossFit Kids</p>
            </div>
        </div>
    </section>
</div>
<!-- /Features -->