<!-- 
    Site-Header 
-->
<div class="header-wrapper">
    {% comment %}
    <!-- This space can be used for special announcements -->
    <div class="special-announcement">
        
        <img src="assets/images/logos/kettle-bells.svg" alt="CrossFit Charlton Logo" width="30"> 
        <p>Grand Opening, November&nbsp;12th, 10am&nbsp;-&nbsp;12pm</p>
        <img src="assets/images/logos/kettle-bells.svg" alt="CrossFit Charlton Logo" width="30">
        
    </div>
    {% endcomment %}

    <header class="site-header">
        <div class="container">
        <a href="index.html" class="brand">
            <h1 class="wordmark">Crossfit Charlton</h1>
        </a>
    
        <button title="Menu" class="hamburger" type="button" id="hamburger" aria-haspopup="true" aria-expanded="false" aria-controls="menu" aria-label="Navigation">
            <span class="line-container">
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
            </span>
        </button>
        </div>
        <nav class="primary-nav mobile">
            <ul>
            <li><a href="about.html"><span class="line-effect">About</span></a></li>
            <li><a href="foundations.html"><span class="line-effect">Foundations</span></a></li>
            <!-- <li><a href="crossfit-kids.html"><span class="line-effect">KidFit</span></a></li> -->
            <li><a href="drop-in.html"><span class="line-effect">Drop-in</span></a></li>
            <li><a href="schedule.html"><span class="line-effect">Schedule</span></a></li>
            <li><a href="contact-us.html"><span class="line-effect">Contact Us</span></a></li>
            <li><a class="store-link" href="https://crossfitcharlton.myshopify.com/" target="_blank"><span class="line-effect" >
                <span class="shirt-icon">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 214.4 162.3">
                    <defs>
                        <style>
                        .cls-1 {
                            fill: #002E6D;
                            isolation: isolate;
                            opacity: 1;
                            stroke-width: 0px;
                            transition: fill 0.3s ease;
                        }
                        </style>
                    </defs>
                    <g id="Layer_1-2" data-name="Layer 1">
                        <path class="cls-1" d="M165.2,162.3v-91.3l39.7-.6,9.5-45.9L147.1,0c-3.6,10.3-14.2,29.9-39.9,29.9S70.9,10.3,67.3,0L0,24.5l9.5,45.9,39.7.6v91.3h116Z"/>
                    </g>
                    </svg>
                </span>CFC Gear</span></a></li>
            <!-- <li><a href="about.html"><span class="line-effect">About</span></a></li> -->
            <li class="primary-nav__cta"><a href="https://crossfitcharlton.pushpress.com/open/interested" target="_blank">Get Started</a></li>
            </ul>
        </nav>
        </header>
    </div>
    <!-- /Site-Header -->