<head>
    <!-- Google tag (gtag.js) -- >
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PRCYFMGH08"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'G-PRCYFMGH08');
    </script>
    < !-- /Google Analytics -->
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  
      <title>{{ page.title }}</title>
      <meta name="description" content="Charlton's newest premier fitness facility featuring CrossFit's own Affiliating Program in a new state of the art facility.">
  
      <!-- Google Fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Miriam+Libre:wght@400;700&display=swap" rel="stylesheet">
      <!-- /Google Fonts -->
  
      <link rel="icon" href="icon.svg" sizes="48x48">
  
      <link rel="stylesheet" href="{{ site.baseurl }}{{ '/assets/main.css' | relative_url }}">
  
      <!-- Social Media Meta Tags -->
        <!--  Essential META Tags -->
        <meta property="og:title" content="CrossFit Charlton">
        <meta property="og:type" content="article" />
        <meta property="og:image" content="https://crossfitcharlton.com/thumbnail.jpg">
  
        <meta property="og:url" content="https://crossfitcharlton.com/index.html">
  
        <meta name="twitter:card" content="summary_large_image">
        
        <!--  Non-Essential, But Recommended -->
        <meta property="og:description" content="Charlton's newest premier fitness facility featuring CrossFit's own Affiliating Program in a new state of the art facility.">
        <meta property="og:site_name" content="CrossFit Charlton">
        <meta name="twitter:image:alt" content="CrossFit Charlton Logo etched in glass, leaning against workout equipment.">
        
        <!--  Non-Essential, But Required for Analytics -->
          <!-- Will setup once accounts are made -->
          <!-- <meta property="fb:app_id" content="your_app_id" /> -->
          <!-- <meta name="twitter:site" content="@website-username"> -->
      <!-- /Social Media Meta Tags -->
      
    </head>