<!-- 
    Site-Header 
-->
<div class="header-wrapper">
    {% comment %}
    <!-- This space can be used for special announcements -->
    <div class="special-announcement">
        
        <img src="assets/images/logos/kettle-bells.svg" alt="CrossFit Charlton Logo" width="30"> 
        <p>Grand Opening, November&nbsp;12th, 10am&nbsp;-&nbsp;12pm</p>
        <img src="assets/images/logos/kettle-bells.svg" alt="CrossFit Charlton Logo" width="30">
        
    </div>
    {% endcomment %}

    <header class="site-header">
        <div class="container">
        <a href="index.html" class="brand">
            <h1 class="wordmark">Crossfit Charlton</h1>
        </a>
    
        <button title="Menu" class="hamburger" type="button" id="hamburger" aria-haspopup="true" aria-expanded="false" aria-controls="menu" aria-label="Navigation">
            <span class="line-container">
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
            </span>
        </button>
        </div>
        <nav class="primary-nav mobile">
            <ul>
            <li><a href="about.html"><span class="line-effect">About</span></a></li>
            <li><a href="foundations.html"><span class="line-effect">Foundations</span></a></li>
            <!-- <li><a href="crossfit-kids.html"><span class="line-effect">KidFit</span></a></li> -->
            <li><a href="drop-in.html"><span class="line-effect">Drop-in</span></a></li>
            <li><a href="schedule.html"><span class="line-effect">Schedule</span></a></li>
            <li><a href="contact-us.html"><span class="line-effect">Contact Us</span></a></li>
            <!-- <li><a href="about.html"><span class="line-effect">About</span></a></li> -->
            <li class="primary-nav__cta"><a href="contact-us.html">Get Started</a></li>
            </ul>
        </nav>
        </header>
    </div>
    <!-- /Site-Header -->