<!-- 
    Location 
-->
<div class="wrapper location">
    <section class="location">
        <h2>Conveniently located on Route&nbsp;20</h2>
        <p class="subheading">Spend more time on your fitness journey and less time on your commute.</p>
        <p class="subheading">CrossFit Charlton is easily accessible from all of Worcester county.</p>
        <div class="container multi-col multi-col--center">
        <div class="col">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2958.300351085118!2d-71.96635228425654!3d42.143859156719515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e6a768bcf17547%3A0x5aa63a98f4cc7d8d!2s168%20Worcester%20Rd%2C%20Charlton%2C%20MA%2001507!5e0!3m2!1sen!2sus!4v1665258025893!5m2!1sen!2sus" 
            class="google-map"
            width="600" 
            height="450" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col">
            <address>168 Worcester Road<br>Charlton, MA 01507</address>
            <a href="https://goo.gl/maps/4y9FFdBXh6dTAj8h6" class="cta cta--blue" target="_blank" rel="nofollow noopener">Get Directions</a>
        </div>
        </div>
    </section>
    </div>
    <!-- /Location -->