<section class="jumbotron">
    <div class="hero-wrapper hero-wrapper--page">
      {% if page.jumbo-image %}
        <img src="{{ page.jumbo-image }}" class="hero-image" alt="Gym Photo">
      {% endif %}

      <header class="container multi-col jumbotron__header">
        <div class="jumbotron__text col">
        {% if page.intro-text %}
          <p class="intro-text">{{ page.intro-text }}</p>
        {% endif %}
        {% if page.jumbo-title %}
          <h2 class="page-title">{{ page.jumbo-title }}</h2>
        {% endif %}
        </div>
        <div class="col">
          <a class="cta cta--lg" href="https://crossfitcharlton.pushpress.com/open/interested">Schedule My Intro</a>
        </div>
      </header>
    </div>  
  </section>