<section class="reviews">
  <h2>Trusted And Loved By The Community</h2>
  <div class="container multi-col">
      <div class="col card" style="flex-basis: 800px;">
        <header>
          <img 
            src="https://lh3.googleusercontent.com/a-/ALV-UjWfrY5o1N9k_iGYY9y44PTmXaKhs4HoidaDf0fc6owDDxs=w36-h36-p-rp-mo-br100" 
            alt="avatar photo" 
            width="44" height="44" 
            class="avatar">
          <p class="name">Tiff H.</p>
          <p class="rating">⭐⭐⭐⭐⭐</p>
          <p class="review">When my fiancé first mentioned CrossFit to me, I was sure that it wasn't for me. I was dead wrong!</p>
      
            <p class="review">I went with him to learn about CrossFit Charlton and I figured I would step out of my comfort zone, and enrolled in the Foundations plan. If you have never done CrossFit, I strongly recommend starting with Foundations. One of the coaches will schedule four sessions with you to teach you the basics, show you how to move and lift without causing injury, and get used the lingo...as well as getting in a heck of a great workout.</p>
            
            <p class="review">The community is supportive, uplifting, and the positive energy is contagious. I love being able to show up, told what the workout is, and shown how to do it safely. It was a challenge for me after sustaining a fractured back and wrist a year ago, but the coaches know how to scale the workout to not just accommodate for injuries but to help you heal - both physically and mentally.</p>
        </header>
          <footer>
            <p><a href="https://g.co/kgs/B9gtau" target="_BLANK">Read more</a></p>
          </footer>
      </div>
      <div class="col card" style="flex-basis: 400px;">
        <header>
          <img 
            src="https://lh3.googleusercontent.com/a/ACg8ocJhL33ItiLMHGa33W65_Xqe5gTdLrjr_s7HZ7ATZkfj=w36-h36-p-rp-mo-br100" 
            alt="avatar photo" 
            width="44" height="44" 
            class="avatar">
          <p class="name">M. Bachand</p>
          <p class="rating">⭐⭐⭐⭐⭐</p>
          <p class="review">In my few short months at CFC I have gained so much confidence, muscle, skills and personal friendships that feel like family.</p><p>
            I never feel pressured to do “scary” workouts or anything that might injure me. Instead the knowledgeable and friendly staff modify every workout to each athlete's ability.
            </p>
          </header>
          <footer>
            <p><a href="https://g.co/kgs/WF6YVm" target="_BLANK">Read more</a></p>
          </footer>
      </div>
      <div class="col card" style="flex-basis: 250px;">
        <header>
          <img 
            src="https://lh3.googleusercontent.com/a/ACg8ocIkJ69tk-GZ4CNTBiz1qFWTNo7JRRfxBuZBYJo5C2Ex=w36-h36-p-rp-mo-br100" 
            alt="avatar photo" 
            width="44" height="44" 
            class="avatar">
          <p class="name">E. Metcalf</p>
          <p class="rating">⭐⭐⭐⭐⭐</p>
          <p class="review">Welcoming, community - minded atmosphere, great coaches.</p>
        </header>
        <footer>
          <p><a href="https://g.co/kgs/rkEd3G" target="_BLANK">Read more</a></p>
        </footer>
      </div>
    </div>
  </section>