<section class="reviews">
    <h2>Trusted And Loved By The Community</h2>
    <div class="container multi-col">
      <div class="col card">
        <header>
          <img 
            src="https://lh3.googleusercontent.com/a/ACg8ocJhL33ItiLMHGa33W65_Xqe5gTdLrjr_s7HZ7ATZkfj=w36-h36-p-rp-mo-br100" 
            alt="avatar photo" 
            width="44" height="44" 
            class="avatar">
          <p class="name">M. Bachand</p>
          <p class="rating">⭐⭐⭐⭐⭐</p>
          <p class="review">In my few short months at CFC I have gained so much confidence, muscle, skills and personal friendships that feel like family.</p><p>
            I never feel pressured to do “scary” workouts or anything that might injure me. Instead the knowledgeable and friendly staff modify every workout to each athlete's ability.
            </p>
          </header>
          <footer>
            <p><a href="https://g.co/kgs/WF6YVm" target="_BLANK">Read more</a></p>
          </footer>
      </div>
      <div class="col card">
        <header>
          <img 
            src="https://lh3.googleusercontent.com/a-/ALV-UjUNhTDbkY-KENtcFngqaTYHB5xg2HD1Nw37n4CG9cQIB6Kq=w36-h36-p-rp-mo-br100" 
            alt="avatar photo" 
            width="44" height="44" 
            class="avatar">
          <p class="name">H. Moody</p>
          <p class="rating">⭐⭐⭐⭐⭐</p>
          <p class="review">Such a welcoming community of people!</p>
        </header>
          <footer>
            <p><a href="https://g.co/kgs/nDYX9X" target="_BLANK">Read more</a></p>
          </footer>
      </div>
      <div class="col card">
        <header>
          <img 
            src="https://lh3.googleusercontent.com/a/ACg8ocIkJ69tk-GZ4CNTBiz1qFWTNo7JRRfxBuZBYJo5C2Ex=w36-h36-p-rp-mo-br100" 
            alt="avatar photo" 
            width="44" height="44" 
            class="avatar">
          <p class="name">E. Metcalf</p>
          <p class="rating">⭐⭐⭐⭐⭐</p>
          <p class="review">Welcoming, community - minded atmosphere, great coaches.</p>
        </header>
        <footer>
          <p><a href="https://g.co/kgs/rkEd3G" target="_BLANK">Read more</a></p>
        </footer>
      </div>
    </div>
  </section>