<section class="reviews">
    <h2>Trusted And Loved By The Community</h2>
    <div class="container multi-col">
      <div class="col card">
        <header>
          <img 
            src="https://picsum.photos/44/44" 
            alt="avatar photo" 
            width="44" height="44" 
            class="avatar">
          <p class="name">A. Person</p>
          <p class="rating">⭐⭐⭐⭐⭐</p>
          <p class="review">Great place to work out!</p>
          <footer>
            <p><a href=""></a></p>
          </footer>
        </header>
      </div>
      <div class="col card">
        <header>
          <img 
            src="https://picsum.photos/44/44" 
            alt="avatar photo" 
            width="44" height="44" 
            class="avatar">
          <p class="name">A. Person</p>
          <p class="rating">⭐⭐⭐⭐⭐</p>
          <p class="review">Great place to work out!</p>
          <footer>
            <p><a href=""></a></p>
          </footer>
        </header>
      </div>
      <div class="col card">
        <header>
          <img 
            src="https://picsum.photos/44/44" 
            alt="avatar photo" 
            width="44" height="44" 
            class="avatar">
          <p class="name">A. Person</p>
          <p class="rating">⭐⭐⭐⭐⭐</p>
          <p class="review">Great place to work out!</p>
          <footer>
            <p><a href=""></a></p>
          </footer>
        </header>
      </div>
    </div>
  </section>