.community {
    background-color: #fff;
    width: 100%;
    max-width: 100%;
    h2 {
        // text-align: left; // multi-col with image
        text-align: center;
    }
    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
    }
    .container {
        align-items: center;
        flex-wrap: wrap;
    }
    .col {
        // flex: 1 1 350px; // multi-col with image
        max-width: 800px; // single-col
        padding: 15px;
        margin: auto;
    }
}