.promo {
    .col {
        flex: 1 1 350px;
        padding: 15px;
        p {
            line-height: 2;
        }
    }
}
.wrapper--promo {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}